body {
    --color-text: #dcdcdc;

    --color-background: #1f2120;
    --color-background-light: #2f3130;

    --color-background-highlight: #4f5150;
    --color-background-highlight-hover: #6f7170;

    --color-background-selection: #095a97;
    --color-background-selection-hover: #296aa7;

    --color-background-selection-light: #8f91908a;
    --color-background-selection-light-hover: #afb1b08a;
}